name: Publish artefacts

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  ffi-linux:
    name: Native FFI (Linux)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build FFI
        run: cargo build --release --package clique-fusion-ffi

      - name: Upload workflow artifact
        uses: actions/upload-artifact@v4
        with:
          name: ffi-linux-x64
          path: target/release/libclique_fusion_ffi.so

      - name: Upload Linux FFI artifact
        uses: softprops/action-gh-release@v2
        with:
          files: |
            target/release/libclique_fusion_ffi.so
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  ffi-windows:
    name: Native FFI (Windows)
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build FFI
        run: cargo build --release --package clique-fusion-ffi

      - name: Upload workflow artifact
        uses: actions/upload-artifact@v4
        with:
          name: ffi-win-x64
          path: target/release/clique_fusion_ffi.dll

      - name: Upload Windows FFI artifact
        uses: softprops/action-gh-release@v2
        with:
          files: |
            target/release/clique_fusion_ffi.dll
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-nuget:
    name: NuGet package
    needs: [ffi-linux, ffi-windows]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: csharp
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Download native artifacts
        uses: actions/download-artifact@v4
        with:
          name: ffi-linux-x64
          path: csharp/src/CliqueFusion/runtimes/linux-x64/native
      - name: Download native artifacts
        uses: actions/download-artifact@v4
        with:
          name: ffi-win-x64
          path: csharp/src/CliqueFusion/runtimes/win-x64/native

      - name: Pack NuGet (with prebuilt natives)
        run: dotnet pack src/CliqueFusion -c Release -o out -p:BuildNativeLibraries=false

      - name: Upload NuGet package to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: csharp/out/*.nupkg
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
